@import url("https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900");

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;

   font-family: "Inter", sans-serif;
}

body {
   background-color: #221141;
   color: #d6dfed;
   height: 100vh;
}

ul {
   list-style: none;
}

a {
   cursor: pointer;
   text-decoration: none;
}